*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(145deg, rgb(57, 57, 238), rgb(230, 69, 69));
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 700px;
    margin: 0 auto;
    height: auto;
    width: 400px;
    background: linear-gradient(120deg, aqua, purple);
    border-radius: 15px;
    box-shadow: 4px 4px 10px grey;
}

h1{
    text-align: center;
    color: wheat;
    margin-bottom: 40px;
    font-size: 2.5rem;
    margin-top: 30px;
}

.faq-item{
    background: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
    width: 350px;
    margin-left: 25px;
}

.faq-item input[type="checkbox"]
{
    display: none;
}

.faq-question{
    display: block;
    padding: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    position: relative;
}

.faq-question:hover{
    background: #f5f5f5;
}

.faq-question::after{
    content: '+';
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.rem;
    color: rgb(0, 123, 255);
    transition: transform 0.3s;
}


.faq-answer{
    max-height: 0;
    overflow: hidden;
    background: wheat;
}

.faq-answer-content{
    padding: 0 20px;
    color: #333;
    line-height: 1.6;
}

.faq-item input[type="checkbox"]:checked~.faq-question::after{
    transform: translateY(-50%) rotate(45deg);
}

.faq-item input[type="checkbox"]:checked~.faq-answer{
    max-height: 500px;
    padding: 20px 0;
}