:root {
    --primary:rgb(22,129,250);
    --bg-body:wheat;
    --bg-card:white;
    --text-main:#1f1f1f;
    --text-muted:#6b7280;
    --border:rgb(94, 94, 94);
    --input-bg:white;
}
#theme:checked ~ .form-wrapper .survey-form {
    --bg-body:rgb(0, 255, 218);
    --bg-card:rgb(71,80,110);
    --text-main:#a9a9a9;
    --text-muted:wheat;
    --border:rgb(94, 94, 94);
    --input-bg:(0,0,0);
    color: white;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     font-family: 'Times New Roman', Times, serif;
     background-color: var(--bg-body);
     color: var(--text-main);
     display: flex;
     justify-content: center;
     padding: 40px 20px;
}
.survey-form {
    background: var(--bg-card);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 25px;
}
header h1 {
    margin: 0;
    font-size: 2rem;
}
header p {
    color: var(--text-muted);
    font-size: 0.9rem;
    margin-top: 5px;
}
.toggle {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 20px;
    align-items: center;
}
.switch {
    width: 45px;
    height: 22px;
    background: red;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    
}
.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
}
#theme:checked ~ .form-wrapper .switch::after{
  left: 25px;
}
#theme:checked ~ .form-wrapper .switch{
    background: var(--primary);
}
.form-group {
    margin-top: 20px;
}
label {
    display: block;
    font-weight: 800;
    font-size: 1.2rem;
    margin: 8px;
}
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.star-rating input{display: none;}
.star-rating label{
    color: red;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 900;
}
.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating:hover ~ label {
    color: yellow;
}
input[type="text"], input[type="date"], input[type="file"] {
    width: 100%;
    padding: 15px;
    border: 2px solid red;
    border-radius: 10px;
}
.file-upload {
    border: 2px dashed var(--text-muted);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
}
.btn {
    padding: 15px;
    width: 100%;
    background: var(--primary);
    color: white;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 12px rgba(100,102,240.0.4);
}
.btn:hover{
    background: green;
}
input[type="range"]{
    width: 100%;
}
.range-levels {
    justify-content: space-between;
    display: flex;
}
input[type="checkbox"]{
    display: none;
}