body{
    background-color: black;
    margin: 0%;
    padding: 20px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px,1fr));
    gap: 15px;
    max-width: 1200px;
    margin-left: 40px;
}
.photo{
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 4/5;

}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.8s ease;
}
.photo img:hover {
    transform: scale(1.20);
    filter: brightness(1.2);
}
@media (max-width: 750px){
    .gallery{
        margin-left:35px;
    }
}
@media (max-width: 750px){
    .gallery{
        grid-template-columns: 1fr;
    }
}