* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container {
    height: 700px;
    width: 550px;
    background: white;
    box-shadow: 3px 3px 10px black;
}
.form {
    margin-left: 40px;
}
.header {
    display: flex;
    justify-content: end;
}
.sun {
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-right:15px ;
}
.moon {
    height: 45px;
    width: 45px;
    margin-top: 15px;
    margin-right:15px ;
}
.star {
    height: 100px;
    width: 100px;
}
.btn {
    width: 400px;
    height: 50px;
    margin-top: 200px;
    margin-left: 35px;
    border-radius: 15px;
    background: blue;
}