body {
    display: flex;
    justify-content: center;
    /* box-sizing: border-box; */
}
.header {
    height: 120px;
    width: 550px;
    box-shadow: 4px 4px 15px;
    font-size: 20px;
}
h1 {
    margin-top: 50px;
    margin-left: 40px;
}
p {
    margin-left: 40px;
    margin-top: 30px;
}
.container {
    height: 660px;
    width: 550px;
    box-shadow: 4px 4px 15px;
    margin-top: 20px;
}
.content {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.div {
    height: 30px;
    width: 4px;
    margin-left: 25px;
    background-color: grey;
}
.di {
    height: 30px;
    width: 4px;
    margin-left: 25px;
    background-color: rgb(29, 138, 29);
}
.green {
    color: rgb(29, 138, 29) ;
}
.subhead {
    color: gray;
    font-size: 25px;
}