body {
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}
.bento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);/*for equal width columns*/
    grid-auto-rows: 200px;  /*each rows is 200px height by default*/
    max-width: 1200px;  /* becoming to large screen */
    gap: 16px;
    width: 100%;
}
.card {
    background: #ffff;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
    box-shadow: 4px 4px 15px ;
}
.card:hover {
    transform: translateY(-5px);
}
.content {
    padding: 25px;
    z-index: 2;
}
h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(10, 7, 7);
}
.card.center {
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card.center img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    
}
.tech {
    grid-column: span 2;
    grid-row: span 2;
    background: url(https://images.unsplash.com/photo-1591405351990-4726e331f141?auto=format&fit=crop&q=80&w=800);
}
.tech h3 {
    color: wheat;
}
.tech p {
    color: wheat;
}
.camera {
    grid-row: span 2;
    background: url(https://images.unsplash.com/photo-1516035069371-29a1b244cc32?auto=format&fit=crop&q=80&w=500) center;
    justify-content: flex-end;
}
.camera h3, .camera p{
    color: antiquewhite;
}
.wide {
    grid-column: span 2;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 850px)
{
  .bento-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .tech, .wide {
    grid-column: span 2;
  }
}