* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.container {
        height: 400px;
        width: 1000px;
        background-color: white; 
        box-shadow: 2px 2px 10px gray;
        border-radius: 10px;
        padding: 30px;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.p{
    color: blue;
}
h1 {
    margin-bottom: 3px;
}
.p2 {
    color: gray;
}
.card1 {
    
     margin-bottom: 20px;
     font-size: 50px;   
     column-gap: 40px;
}
.inp1 {
    margin-left: 80px;
}
input {
  padding: 6px;
}
select {
    padding: 10px;
    width: 100%;
    height: 15%;
    background: rgb(211, 205, 205);
    border-radius: 10px;
}
h2 {
    margin-top: 15px;
}
.btn {
    width: 100%;
    height: 12%;
    padding: 10px;
    color: white;
    background: blue;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    text-decoration: none;
}
.btn:hover {
    background-color: green;
    cursor: pointer;
}
.btn.cnt:hover {
          background-color: green;
}
