* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: plum;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}
.container {
    height: 500px;
    width: 300px;
    background: white;
    box-shadow: 5px 3px 15px black;
    border-radius: 10px;
}
.btn {
    width: 88%;
    height: 40px;
    margin-top: 100px;
    margin-left: 20px;
    border-radius: 10px;
    background: blue;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
.btn:hover {
    background: green;
}
.ear-container { 
    position: relative;
     display: inline-block; 
    } 
.ear { 
    width: 300px;
    height: 200px; 
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
} 
.dis { 
    position: absolute;
    height: 25px;
    width: 70px;
    background-color: red; 
    top: 10px;
    left: 15px;
    color: white; 
    font-size: 10px; 
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}
h2 {
    margin-left: 25px;
    margin-top: 15px;
}
.p1 {
    margin-left: 25px;
    margin-top: 15px;
    color: gray;
    font-size: 15px;
}
.mix {
    display: flex;
}
.rate {
    font-size: 20px;
    margin-left: 25px;
}
.p2 {
    margin-top: 5px;
    margin-left: 10px;
    color: gray;
    text-decoration: line-through;
}
.str {
    height: 30px;
    width: 100px;
    margin-left: 20px;
}
.watch {
    height: 250px;
    width: 200px;
    margin-top: 10px;
    margin-left: 45px;
}
.btn2 {
    width: 88%;
    height: 40px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 10px;
    background: blue;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
.btn2:hover{
    background-color: green;
}
.speaker {
    height: 280px;
    width: 300px;
    border-radius: 10px;
}
.btn3 {
    width: 88%;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px;
    background: blue;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
.btn3:hover{
    background-color: green;
}