* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    justify-content: center;
    background-color: whitesmoke;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/80/06/3757c30a762387b.jpg);
    height: 100vh;
    background-size: cover;
}
.nav {
    padding: 15px;
    width: 1380px;
    background-color: rgb(38, 11, 63);
    color: white;
}
a {
    margin-right: 30px;
    
}
.container {
    display: flex;
    gap: 20px;
}
.card:hover {
    transform: translateY(-5px);
}
.card {
    height: 150px;
    width: 250px;
    background-color: white;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
    margin-top: 10px;
    transition: all 2s ease;
}
h1 {
   margin-top: 40px;
   color: white;
}
h2 {
    margin-top: 30px;
    margin-left: 10px;
}
p {
    color: gray;
    margin-top: 7px;
    margin-left: 10px;
}
button {
    background: blue;
    border: none;
    color: white;
    margin-top: 20px;
    padding: 6px;
    width: 100px;
    margin-left: 20px;
    border-radius: 7px;
    cursor: pointer;
}
button:hover {
    background-color: rgba(11, 99, 11, 0.877);
}
.content {
    margin-left: 300px;
    margin-top: 100px;
    position: absolute;
}
