* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(241, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    height: 570px;
    width: 400px;
    background-color: white;
    box-shadow: 2px 2px 10px;
    border-radius: 15px;
    margin-top: 50px;
}
.header {
    height: 350px;
    width: 350px;
   /* background-size: 350px 300px; */
   /* box-shadow: 0 0 5px; */
   margin-left: 25px;
   margin-top: 25px;
   border-radius: 15px;
   overflow: hidden;
}
.btn {
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    width: 120px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-color: white;
    cursor: pointer;
}
h2, p {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}
.footer {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 23px;
    font-weight: bold;
}
p {
    color: grey;
}
.img {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    margin-left: 210px;
    cursor: pointer;
    transition: 1.5s;
}
.img:hover {
    transform: rotate(45deg);
}
.ss {
    display: flex;
}
.pic {
    height: 300px;
    width: 350px;
    transition: all 2s ease;
    box-shadow: 0 1pc 10px;
}
.pic:hover {
    transform: scale(2);
}
